manifest {
    name = "samirelanduk/nf-diffuser"
    description = "Image generation with stable diffusion."
    version = "0.1.0"
}

params {
    prompt      = null
    prompt_file = null
    model       = null
    width       = null
    height      = null
    steps       = 20
}

env {
    PYTHONPATH = "${projectDir}/bin"
}

includeConfig 'conf/base.config'